<div class="panel panel-default normal-blcok-shadow">
  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span> 账户设置</div>
  <div class="panel-body normal-inside-page-body">
 <form role="form" id="menu_acc_settings_form">
  <input style="display:none" type="text" name="action" value="menu_acc_settings_submit">  
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" readonly="true" value="{{g.user.Email}}">   
  </div>
  <div class="form-group">
    <label>注册时间(UTC)</label>
    <input type="text" class="form-control" readonly="true" value="{{g.user.Reg_Time}}">      
  </div>  
  <div class="form-group">
    <label>API Key</label>
    <input type="text" class="form-control" readonly="true" value="{{g.user.API_Key}}">     
    <button type="button" class="btn btn-danger btn-xs">重新生成</button>
    <p class="help-block">重新生成API Key将导致之前的应用不可用</p>     
  </div>
  <div class="form-group">
    <label>昵称</label>
    <input type="text" class="form-control" value="{{g.user.Nickname}}" name="Nickname">
    <p class="help-block"></p>
  </div>
    <button type="submit" class="btn btn-success">保 存</button>
  </div> 
</form>

  </div>
</div>
<script> 

  $('#menu_acc_settings_form').submit(
     function(){
      ajax_action($(this).serialize(),function(data){alert(data)})
      return false;
    });

</script>