{% include 'user_center/header.html' %}
<link href="/static/css/user_center.css" rel="stylesheet">
  <div class="container" id="frame-container"> 
  <div id="side-bar"> 
    <h2><span class="glyphicon glyphicon-home"> </span> 用户中心 </h2>
    
    <ul id="menu-list" class="nav nav-pills nav-stacked">
      <li id="menu_pandect"><a href="#"><span class="glyphicon glyphicon-map-marker"></span>概览</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>我的账户</a></li>
      <div class="collapse">    
         <div class="list-group"> 
          <a id="menu_acc_settings" href="#" class="list-group-item">账户设置</a>
          <a id="menu_acc_chpass" href="#" class="list-group-item">修改密码</a>         
        </div>
      </div>
      <li><a href="#"><span class="glyphicon glyphicon-cog"></span>设备管理</a></li>
      <div class="collapse">
       <div class="list-group">          
          <a id="menu_dev_add" href="#" class="list-group-item">添加新设备</a>
          <a id="menu_dev_manage" href="#" class="list-group-item">管理已有设备</a>         
        </div>
      </div>
      <li><a href="#"><span class="glyphicon glyphicon-search"></span>数据查看</a></li>
       <div class="collapse">
       <div class="list-group">          
          <a id="menu_view_statistics" href="#" class="list-group-item">查看统计</a>
          <a id="menu_view_charts" href="#" class="list-group-item">查看图表</a>    
          <a id="menu_view_raw" href="#" class="list-group-item">查看原始数据</a>        
        </div>
      </div>
      <li id="menu_managedata"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>数据管理</a></li>      
      <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span>参考文档</a></li>
       <div class="collapse">
         <div class="list-group">          
            <a href="#" class="list-group-item">概述</a>
            <a href="#" class="list-group-item">平台使用</a>    
            <a href="#" class="list-group-item">API参考</a>        
          </div>
      </div>
      <li id="menu_msg"><a href="#"><span class="glyphicon glyphicon-envelope"></span>站内信</a></li>
      <li id="menu_about"><a href="#"><span class="glyphicon glyphicon-leaf"></span>关于Hackathon...</a></li>
      <li id="menu_logout"><a href="#"><span class="glyphicon glyphicon-off"></span>退出登录</a></li>
    </ul>   
  </div>
  <div id="content-div">
    
  </div>
 </div>

{% include 'user_center/footer.html' %}
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/spin.min.js"></script>
<script src="/static/js/user_center/frame.js"></script>
</body>
</html>
