{% include 'header.html' %}  
<!-- /.container -->
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>  
    <script src="/static/js/lib/highcharts.js"></script>
    <script src="/static/js/lib/spin.min.js"></script>
    <script src="/static/js/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/index.js"></script>

 {% include 'footer.html' %}